.header {
  height: 60px;
  background-color: #131921;
  display: flex;
  margin: auto;
  align-items: center;
  gap: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  /* justify-content: space-between; */
}
.logo_img {
  height: 27px;
  margin-left: 20px;
  object-fit: contain;
}

.header_location {
  display: flex;
  align-items: center;
  color: white;
  font-size: 12px;
}

.header_search {
  display: flex;
  align-items: center;
  flex: 1;
}
.header_location_icon {
  margin-top: 5px;
}
.header_location_second {
  font-size: 13px;
  font-weight: bolder;
}

.header_search_left {
  background-color: rgb(223, 223, 223);
  /* height: 30px; */
  display: flex;
  align-items: center;
  font-size: 13px;
  margin: auto;
  padding: 9px;
  border-radius: 5px 0 0 5px;
}
.search_input {
  height: 40px;
  /* border-radius: ; */
  padding: 20px;
  width: 100%;
}

.header_search_icon {
  height: 44px !important;
  width: auto !important;
  padding: 8px; /* align-items: center; */
  border-radius: 0 5px 5px 0;
  background-color: rgb(231, 178, 64);
}
.Header_link_Language {
  font-size: 15px;
  display: flex;
  margin-top: 15px;
}
.Lang_flag {
  gap: 3px;
  display: flex;
}
.Lang_flag p {
  font-weight: bolder;
}

.header_links {
  display: flex;
  gap: 20px;
  align-items: center;
  color: white;
  font-size: 13px;
  /* line-height: 1; */
}

.header_link2_account {
  font-weight: bolder;
}
.header_link2_arrow {
  margin-left: -3px;
  margin-bottom: -8px;
}

.header_returns_order_second {
  font-size: 14px;
  font-weight: bolder;
}
.header_cart {
  margin-right: 20px;
}
.cart_item {
  font-weight: bolder;
  color: orangered;
}

.search_input::placeholder {
  margin-left: -50px !important;
  font-size: 15px;
}
